/* fonts */
/*@font-face {
    font-family: futuralight;
    src: url('design/futuralight.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

.teaser {
	font: futura-pt, sans-serif;
	color: #333;
	font-size: 28px;
	position: absolute;
	left: 20px;
	top: 20px;
	max-width: 20px;
}

.teaser:hover {
		display: none;
	}


nav {
	font-family: futura-pt, sans-serif;
}

legend {
/*	margin: 20px;
*/	display: block;
	background-color: #333;
    max-width: 20%;
	}

table {
    padding: 6%;
    box-shadow: 8px 10px 2px #bbb;
    font-family: 'futura-pt', sans-serif;
    background-color: #ffffff;
    width: 90%;
    }

th {
    padding: 1%;
    background-color: #ffffff;
    font-size: 2em;
    }
  
    td {
        padding-left: 2%;
        padding-right: 2%;
        border: 0;
        background-color: #fff;
        text-align: center;
    }

    #trHeader {
        text-decoration: none;
    }
  
    .centerCell {
        text-align: center;
    }


 #time-keeper {
 	max-width: 100%;
 }

 .teaser {
	font-family: futura-pt, sans-serif;
	color: #333;
	font-size: 28px;
	position: absolute;
	left: 20px;
	top: 20px;
	max-width: 20px;
}

.teaser:hover {
		display: none;
	}


nav {
	font-family: futura-pt, sans-serif;
}

legend {
	margin: 20px;
	display: block;
	background-color: #333;
    max-width: 20%;
        margin-left: 50px;

	}

table {
    padding: 8%;
    box-shadow: 8px 10px 2px #bbb;
    font-family: futura-pt, sans-serif;
    background-color: #ffffff;
    }

th {
    padding: 1%;
    background-color: #ffffff;
    font-size: 2em;
    }
  
    td {
        padding: 3%;
        border: 0;
        background-color: #fff;
        text-align: center;
    }

    #trHeader {
        text-decoration: none;
    }
  
    .centerCell {
        text-align: center;
    }


 #time-keeper {
 	max-width: 100%;
 }

