/* fonts */
@font-face {
    font-family:'futuralight';
    src: local('design/futuralight.ttf'), format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face{
font-family: 'futura-pt',sans-serif;
font-weight: 300;
font-style: normal;
}

/* styles */
html, body {
      padding: 0;
      margin: 0;    
}
#sidebar {
	width: 30%;
	height: 90%;
	float: left;
}

	h1 {
		margin: 35px;
		font-family: 'futuralight', 'futura-pt',sans-serif;
	}

	h2, h3 {
		margin: 35px;
		font-family: 'futuralight', 'futura-pt',sans-serif;
	}

	#key, {
		font-family: 'futuralight', 'futura-pt',sans-serif;
		/*margin: 35px;*/
		font-size: 16px;
		float: left;
		font-weight: 300;
		font-style: normal;	
	}

	p {
		font-family: 'futuralight', 'futura-pt',sans-serif;
		font-size: 14px;
		margin-left: 35px;
		margin-top: 15px;
		float: left;
		font-weight: 300;
		font-style: normal;		 	
	 }

	a {
		color: rgb(255,36,160);
/*		font-weight: 300;
*/	 }


	input {
		margin-left: 35px;
		float: left;
	 }

	label {
		font-family: 'futuralight', 'futura-pt',sans-serif;
		font-size: 16px;
		float: left;
		font-weight: 500;
		font-style: normal;		 	
	 }

.hospitalText {
	color: orange;
}

.treatmentText {
	color: blue;
}

.energyText {
	color: greenyellow;
}

#quake-map{
	width:70%;
	height:100%;
	float: right;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#diagram {
	width: 100%!important;
	float: left;
}

