html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background:#e0e0d9;
}

main {
  display: flex;
  flex-wrap:wrap;
}

main.single{
  height:100%;
  justify-content:center;
  align-items:center;
}

nav{
  position:fixed;
  top:14px;
  left:14px;
  opacity:0;
  transition:opacity .666s;
  background:rgba(235,235,235,1);
  padding:12px;
  font-size:13px;
  border-radius:4px;
  box-shadow: 8px 10px 2px #bbb;
  font-family: 'Turret Road', sans-serif;
}

nav select{
  margin-right:14px;
}
nav input{
  vertical-align:bottom;
  width:100px;
}

nav span:before{ content:"("; }
nav span:after{ content:")"; }

nav.active{
  opacity:10;

}

.cell{
  margin:10px;
}

.cell .timestamp{
  font:14px monospace;
  text-align:center;
  display:none;
}

.sketch{
  pointer-events:none;
  border:0;
}

.teaser {
  font-family: 'Turret Road', Helvetica, mono;
  color: #333;
  font-size: 28px;
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 20px;
}

legend {
  margin: 20px;
  display: block;
  background-color: #333;
  max-width: 20%;
  }

table {
    padding: 6%;
    font-family: 'Turret Road', Helvetica, mono;
    background-color: #ffffff;
    }

th {
    padding: 1%;
    background-color: #ffffff;
    font-size: 2em;
    }
  
    td {
        padding-left: 2%;
        padding-right: 2%;
        border: 0;
        background-color: #fff;
        text-align: center;
    }

    #trHeader {
        text-decoration: none;
    }
  
    .centerCell {
        text-align: center;
    }


 #time-keeper {
  max-width: 100%;
 }

